.flex-container {
  background-color: #F4F7F8;
  overflow: hidden;
  display: flex;
  /*margin: 1em;*/
}

.item {
  padding: 0.5em;
  background-color: #1a1a1a;
  color: #e6e6e6;
  font-family: Perpetua;
}

.initial {
  flex: initial;
}

.auto {
  flex: auto;
}


.none {
  flex: none;
}

.logo{
  margin: 0;
  height: 125px;
  width: 125px;
}

.title{
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
