.flex-container {
  background-color: #F4F7F8;
//resize: horizontal;
  overflow: hidden;
  display: flex;
  margin: 1em;
}

.item {
  margin: 1em;
  padding: 0.5em;
  min-width: 0;
  background-color: #1a1a1a;
  color: #e6e6e6;
  font-family: monospace;
}

.initial {
  flex: initial;
}

.auto {
  flex: auto;
}


.none {
  flex: none;
}

.logo{
  height: 150px;
  width: 150px;
}
