<h2 class="item auto title">Selected charm</h2>
<div class="row">

  <div *ngIf="selectedCharm" class="flex-container">

    <div class="flex-container-column auto">

      <div class="item auto active-effects">

        <img src="{{selectedCharm.img}}" height="50"/>
        <img width="10px" class="notch-img" *ngFor="let i of getNumberOfNotchesCheat(selectedCharm)" src="assets/img/white_notch.png">

        <div *ngIf="selectedCharm.damageMultiplier">
          Damage Multiplier : {{selectedCharm.damageMultiplier}}
        </div>

        <div>
          Description : {{selectedCharm.description}}
        </div>

        <div>
          Effect : {{selectedCharm.effect}}
        </div>

        <div *ngIf="selectedCharm.soulGainedMain && selectedCharm.soulGainedReserve">

          Soul Gained : Main {{selectedCharm.soulGainedMain}} Reserve {{selectedCharm.soulGainedReserve}}
        </div>

      </div>

    </div>



  </div>
</div>

  <h2 class="item auto title">Active effects</h2>
<div class="row">
  <div class="flex-container">
    <div class="item auto active-effects">
      <div *ngFor="let charm of selectedCharms">
        <img src="{{charm.img}}" height="50"/> {{charm.name}} :
        <div *ngFor="let effect of charm.effect">
          {{effect}}
        </div>
      </div>
    </div>
  </div>
</div>
