
<div class='row'>

  <app-nail class='column flex-container' (selectedNailEvent)="receiveSelectedNail($event)"></app-nail>
  <app-life-mask  class='column'></app-life-mask>
  <app-notches class='column' (NumberOfNotchesEvent)="receiveNumberOfNotches($event)" (myEvent)="charm.resetCharmsList()"></app-notches>
  <app-charms-equiped  class='column' [selectedCharms]="selectedCharms" [numberOfNotches]="numberOfNotches"></app-charms-equiped>

</div>

  <app-charm #charm (selectedCharmsEvent)="receiveSelectedCharms($event)" [numberOfNotches]="numberOfNotches"></app-charm>

<app-active-effects [selectedCharms]="selectedCharms"></app-active-effects>

<app-damage-table [selectedNail]="selectedNail" [selectedCharms]="selectedCharms" ></app-damage-table>

<!--{{selectedNail.name}}-->
