<!-- nail -->

  <div class="flex-container">
    <div class="flex-container-column auto">

      <div class="item auto">

        <label class="centered_text">Select your Nail</label>

        <ng-select id="nail"
                   [items]="nails"
                   bindLabel="name"
                   placeholder="Select nail"
                   [(ngModel)]="selectedNail"
                   (change)="sendSelectedNail()">
        </ng-select>

      </div>


      <div class="item auto centered_text">Base damage : {{selectedNail.damage}}</div>

    </div>

    <img src="{{selectedNail.img}}" width="auto" height="150px" class="item none"/>

  </div>

