
.row {
  display: flex;

  box-orient: horizontal;
  flex-direction: row;

  box-pack: center;
  justify-content: center;

  box-align: center;
  align-items: center;

  background-color: red;

}


.notch {max-width:100%;}

.column {
  display: flex;
  flex-direction: column;
  /*   flex-basis: 100%; */
  flex: 1;
}
