.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.charms {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.charms li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  /*height: 1.6em;*/
  border-radius: 4px;
}

.charms li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.charms li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.charms .text {
  position: relative;
  top: -3px;
}

.charms .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  /*line-height: 1em;*/
  /*position: relative;*/
  /*left: -1px;*/
  /*top: -4px;*/
  height: 1.8em;
  /*margin-right: .8em;*/
  border-radius: 4px 4px 4px  4px;
}

#charms-container  {
  background: #F7F7F9;
  border-radius: 0;
  display: inline-block;
  width:100%;
  margin:0px;
}
.charms-list ul {
  margin: 0;
  padding:0;
  font-size: 17px;
  width: 100%;
}

.charms-list ul li {
  display: inline-block;
  vertical-align: top;
  width: 8%;
  float: Left;
}

.charms-list ul li a {
  color: #FFF;
  text-decoration:none;
  outline: none;
  padding: 15px 0;
  display: block;
  background: rgb(50,153,187);
  transition: all 1s ease;
  text-align:center;
}
.charms-list ul li a:active,
.charms-list ul li a:hover {
  background: rgba(50,153,187,0.8);
}
