
<!--List : {{selectedCharms.length}}-->
<!--<div class="row">-->
  <!--<div *ngIf="selectedCharms.length>0">-->
    <!--<div class="item auto" *ngFor="let charm of selectedCharms">{{charm.name}}</div>-->
<!--</div>-->

<div class="row">
  <!--<div class="charms-container">-->
    <!--<div class="charms-list">-->
      <!--<ul class="charms">-->
        <div class="item auto" *ngFor="let charm of charms"
            [class.selected]="charm === selectedCharm"
            (click)="select(charm)">
          <img src="{{charm.img}}" height="50"/>
          <div>
            {{charm.name}}
          </div>
        <!--</div>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>

<div class="row">

  <div class="item auto">
    Damage Multiplier : {{selectedCharm.damageMultiplier}}
  </div>
  <div class="item auto">

    Effect : {{selectedCharm.effect}}
  </div>

  <div class="item auto">

    Notches : {{selectedCharm.notches}}
  </div>

  <div class="item auto">

    Description : {{selectedCharm.description}}
  </div>

  <div class="item auto">

    Soul Gained : Main {{selectedCharm.soulGainedMain}} Reserve {{selectedCharm.soulGainedReserve}}
  </div>


</div>

