/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #595959;}


* {
  box-sizing: border-box;
}


ng-select{
  margin-top: 0.5em;
  position: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  /*   flex-basis: 100%; */
  flex: 1;
}

.flex-container {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 0.3em;
  padding: 0.5em;
  /*min-width: 100px;*/
  background-color: #1a1a1a; /*black*/
  color: #e6e6e6; /*white*/
  text-align: center;
  font-family: Perpetua;
}

.selected {
  margin: 0.3em;
  padding: 0.5em;
  /*min-width: 100px;*/
  background-color: #4d4d4d;
  color: #000000; /*white*/
  text-align: center;
  font-family: Perpetua;
  /*font-family: bold;*/
}

.btn {
  background:    #7d7b7b;
  border-radius: 5px;
  padding:       8px 15px;
  color:         #eeeeee;
  display:       inline-block;
  font:          normal bold 24px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}

.notch {
  /*margin-left: 0;*/
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.centered_text{
  text-align: center;
  /*margin-left: 0;*/
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.nail-img{
  /*margin-left: 0;*/
}

.mask-img{
  /*margin-left: 0;*/
}

.initial {
  flex: initial;
}

.auto {
  flex: auto;
  resize: none;
}

.none {
  flex: none;
}

.four {
  flex: 4;
}

.two {
  flex: 2;
}

.one {
  flex: 1;
}

.row {
  display: flex;

  box-orient: horizontal;
  flex-direction: row;

  box-pack: center;
  justify-content: center;

  box-align: center;
  align-items: center;


}

.notch-img{
  max-width:100%;
  min-width:20px;
}

.title{
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.logo{ /* TO DO : modifier ce css du logo qui pu la merde */
  margin: 0;
  /*height: 125px;*/
  width: 125px;
  vertical-align: middle;
}
