
<div class="row">

    <div  class="flex-container-column auto">
      <img width="auto" height="50px" class="item none" src="../../assets/img/nail_art/Cyclone_Slash.png"/>
      <div class="item auto">
        Cyclone Slash
      </div>
      <div  class="item auto">
        {{calculateCycloneSlashMin()}} - {{calculateCycloneSlashMax()}}
      </div>
    </div>

  <div  class="flex-container-column auto">
    <img width="auto" height="50px" class="item none" src="../../assets/img/nail_art/Cyclone_Slash.png"/>
    <div class="item auto">
      Cyclone Slash
    </div>
    <div  class="item auto">
      {{calculateCycloneSlashMin()}} - {{calculateCycloneSlashMax()}}
    </div>
  </div>

  <div  class="flex-container-column auto">
    <img width="auto" height="50px" class="item none" src="../../assets/img/nail_art/Cyclone_Slash.png"/>
    <div class="item auto">
      Cyclone Slash
    </div>
    <div  class="item auto">
      {{calculateCycloneSlashMin()}} - {{calculateCycloneSlashMax()}}
    </div>
  </div>

</div>

<table>
  <thead>
  <tr >
    <td>Nail basic attack</td>
    <td><img src="../../assets/img/nail_art/Cyclone_Slash.png" height="50"/>Cyclone Slash </td>
    <td><img src="../../assets/img/nail_art/Dash_Slash.png" height="50"/>Dash Slash </td>
    <td><img src="../../assets/img/nail_art/Great_Slash.png" height="50"/>Great Slash </td>
    <td><img src="../../assets/img/charms/Thorns_of_Agony.png" height="50"/>Thorns of Agony</td>
    <td><img src="../../assets/img/charms/Grubberflys_Elegy.png" height="50"/>Grubberfly's Elegy</td>
    <td><img src="../../assets/img/charms/Thorns_of_Agony.png" height="50"/>Thorns of Agony</td>
    <td><img src="../../assets/img/charms/Thorns_of_Agony.png" height="50"/>Thorns of Agony</td>
    <td><img src="../../assets/img/charms/Thorns_of_Agony.png" height="50"/>Thorns of Agony</td>
    <td><img src="../../assets/img/charms/Thorns_of_Agony.png" height="50"/>Thorns of Agony</td>
  </tr>

  </thead>
  <tr >
    <td>{{calculateBasicAttack()}}</td>
    <td>{{calculateCycloneSlashMin()}} - {{calculateCycloneSlashMax()}}</td>
    <td>{{calculateGreatOrDashSlash()}}</td>
    <td>{{calculateGreatOrDashSlash()}}</td>
    <td>{{calculateThornsOfAgony()}}</td> <!--Thorn of agony, put a If the charm is selected-->
    <td>{{calculateGrubberflyElegy()}}</td> <!--Thorn of agony, put a If the charm is selected-->
    <td>{{calculateThornsOfAgony()}}</td> <!--Thorn of agony, put a If the charm is selected-->
    <td>{{calculateThornsOfAgony()}}</td> <!--Thorn of agony, put a If the charm is selected-->
    <td>{{calculateThornsOfAgony()}}</td> <!--Thorn of agony, put a If the charm is selected-->
    <td>{{calculateThornsOfAgony()}}</td> <!--Thorn of agony, put a If the charm is selected-->
  </tr>
</table>
