
<div class="row">

  <div  class="flex-container">
    <div  class="flex-container-column auto">

      <img width="auto" height="119px" class="item none" src="{{selectedNail.img}}"/>
      <div class="item auto">
        Nail damage
      </div>
      <div  class="item auto">
        {{calculateBasicAttack()}}
        <br>
        <span *ngIf="isFurryOfTheFallen()">1HP : {{calculateBasicAttack1HP()}}</span>
      </div>
    </div>
  </div>

  <div  class="flex-container">
    <div  class="flex-container-column auto">

      <img height="119px" class="item none" src="../../assets/img/nail_art/Cyclone_Slash.png"/>
      <div class="item auto">
        Cyclone Slash
      </div>
      <div  class="item auto">
        {{calculateCycloneSlashMin()}} - {{calculateCycloneSlashMax()}}
        <br>
        <span *ngIf="isFurryOfTheFallen()">1HP : {{calculateCycloneSlashMin1HP()}} - {{calculateCycloneSlashMax1HP()}}</span>
      </div>
    </div>
  </div>

  <div  class="flex-container">
    <div  class="flex-container-column auto">

      <img width="auto" height="119px" class="item none" src="../../assets/img/nail_art/Dash_Slash.png"/>

      <div class="item auto">
        Dash Slash
      </div>
      <div  class="item auto">
        {{calculateGreatOrDashSlash()}}
        <br>
        <span *ngIf="isFurryOfTheFallen()">1HP : {{calculateGreatOrDashSlash1HP()}}</span>
      </div>
    </div>
  </div>


  <div  class="flex-container">
    <div  class="flex-container-column auto">

      <img width="auto" height="119px" class="item none" src="../../assets/img/nail_art/Great_Slash.png"/>
      <div class="item auto">
        Great Slash
      </div>
      <div  class="item auto">
        {{calculateGreatOrDashSlash()}}
        <br>
        <span *ngIf="isFurryOfTheFallen()">1HP : {{calculateGreatOrDashSlash1HP()}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="isThornsOfAgony()"  class="flex-container">
    <div  class="flex-container-column auto">

      <img  width="auto" height="119px" class="item none" src="../../assets/img/charms/Thorns_of_Agony.png"/>
      <div class="item auto">
        Thorns of agony
      </div>
      <div  class="item auto">
        {{calculateThornsOfAgony()}}
      </div>
    </div>
  </div>

  <div *ngIf="isFlukenest()"  class="flex-container">
    <div  class="flex-container-column auto">

      <img  width="auto" height="119px" class="item none" src="../../assets/img/charms/Flukenest.png"/>
      <div class="item auto">
        Flukenest
      </div>
      <div  class="item auto">
        {{calculateFlukenest()}}
      </div>
    </div>
  </div>

  <div *ngIf="isGrubberflyElegy()"  class="flex-container">
    <div  class="flex-container-column auto">

      <img width="auto" height="119px" class="item none" src="../../assets/img/charms/Grubberflys_Elegy.png"/>
      <div class="item auto">
        Grubberfly's Elegy
      </div>
      <div  class="item auto">
        {{calculateGrubberflyElegy()}}
        <br>
        <span *ngIf="isFurryOfTheFallen()">1HP : {{calculateGrubberflyElegy1hp()}}</span>
      </div>
    </div>
  </div>

</div>
